
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/.user/
.env
.env.staging
.env.preprod
.env.prod
allure-results/
allure-report/
